* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-top{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
}
.header-top .back-button {
    background-color: #4CAF50;
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-left: 20px; 
    height: 5vh;
}

header .back-button:hover {
    background-color: #45a049; 
    
}
.header-top img{
    height: 10vh;
}
#welcome-message{
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 82vh;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: white;
}

.consulta-online-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 11vh;
    cursor: pointer;
}

.consulta-online-container h2{
    border-bottom: 2px solid #4CAF50;
    padding: 0.3em;
}
.consulta-online-container:hover{
    background-color: rgb(166, 123, 123);
}
.prontidao-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 11vh;
    cursor: pointer;
}
.prontidao-container h2{
    border-bottom: 2px solid #4CAF50;
    padding: 0.3em;
}
.prontidao-container:hover{
    background-color: rgb(114, 114, 153);
}