* {
    margin: 0;
    padding: 0;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #4CAF50; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}


.videos-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  
  .video-remoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    z-index: 1; 
  }
  
  
  .video-overlay {
    position: absolute;
    top: 10%; 
    left: 10%; 
    width: 25%; 
    height: auto; 
    z-index: 2; 
    border-radius: 15px; 
    border: 2px solid white; 
    left: 0;
  }
  
  
  .video-me {
    width: 100%; 
    height: auto; 
    border-radius: 15px; 

    /* Espelhar vídeo */
    transform: scaleX(-1); 
    -webkit-transform: scaleX(-1);
    transform-origin: center; 
  }

  
  .footer-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    z-index: 1000;
}

.footer-navbar button {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    border: none;
    background-color: #4CAF50; 
    cursor: pointer;
}

.footer-navbar button i {
    margin-right: 8px; 
}


.back-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.back-button i {
  font-size: 18px;
}

.back-button:hover {
  background-color: #a04545; 
  transform: scale(1.05);
}