* {
    margin: 0;
    padding: 0;
}
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.videos-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }
  
  
  .video-remoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    z-index: 1; 
  }
  
  
  .video-overlay {
    position: absolute;
    top: 10%; 
    left: 10%; 
    width: 25%; 
    height: auto; 
    z-index: 2; 
    border-radius: 15px; 
    border: 2px solid white; 
    left: 0;
  }
  
  
  .video-me {
    width: 100%; 
    height: auto; 
    border-radius: 15px; 
  }
  
  
