.cardDia {
    background-color: rgba(162, 230, 198, 0.377);
    margin: 0.5em;
    width: 10vh;
    display: flex;
    justify-content: center;
    
}
.cardDia:hover{
    cursor: pointer;
    background-color: rgb(59, 141, 141);
    
}
.cardDia p {
    color: rgb(7, 7, 7);
    padding: 1em;
}

.calendario {
    display: flex;
    flex-wrap: wrap;
}

.calendar{
    
    justify-content: center;
}


.robertoCarlos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para o calendário */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.calendar-day {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.calendar-day:hover {
    background-color: #e3f2e5;
}

.listadehorarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}


